{% extends 'layout.html' %}

{% block head %}

{% endblock %}

{% block body %}

<p>File Note Saved</p>

<form action="/" method="post">

<input type="submit" value="Make Another">

</form>
<p>
    You have saved a file note in the matter of <i>{{mtr}}</i>.

</p>
<p>

    The text of the file note saved was: <br> <br>

    <i>{{txt}}</i>

</p>


<p>

    The following to-do items have also been saved to your to-do list: <br> <br>

    <i>{{tdo}}</i>

</p>

<!--    todo show text and details of file note as saved-->

{% endblock %}