{% extends 'layout.html' %}

{% block head %}

{% endblock %}

{% block body %}

<p>File Note Saved</p>

<form action="/" method="post">

<input type="submit" value="Make Another">

</form>
<p>
    You have saved a file note in the matter of <i>{{mtr}}</i>.

</p>
<p>

    The text of the file note saved was: <br> <br>

    {% for line in txt %}

    <i>{{line}}</i> <br><br>

    {% endfor %}


</p>


<p>

    The following to-do items have also been saved to your to-do list: <br> <br>

    {% for line in tdo %}

    <i>{{line}}</i> <br><br>

    {% endfor %}

</p>


{% endblock %}